/* Banner */
.banner {
  max-width: 100%;
  height: 322px;
  background-image: url('../../img/banner.png');
  padding: 55px 96px;
}

.banner__hero {
  margin-bottom: 48px;
}

.banner__title {
  font-size: 32px;
  color: white;
  margin-bottom: 24px;
}

.banner__subtitle {
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  /* Banner */
  .banner {
    max-width: 100%;
    height: 322px;
    background-image: url('../../img/banner.png');
    padding: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner__hero {
    margin-bottom: 16px;
    text-align: center;
  }

  .banner__title {
    font-size: 32px;
    color: white;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .banner__subtitle {
    font-size: 16px;
    color: white;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 0 20px;
  }
}