/* Card */
.card {
  max-width: 300px;
  background: var(--color--white);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: 'Piazzolla', serif;
  font-size: 20px;
  margin-bottom: 16px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.card-body > .button {
  align-self: flex-end;
}

@media (max-width: 480px) {
  .card-img-top {
    height: 0;
    transition: all 400ms ease;
  }
  
  .card:hover > .card-img-top {
    height: 200px;
  }
}