.image {
  width: 100px;
  height: 100px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #9d9d9d;
}

.image--circle {
  border-radius: 100%;
}

.image--shadow {
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
}