/* Vertical List */
.list__vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list__vertical > .item {
  margin-right: 16px;
  height: 40px;
  padding: 0 115px 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--color--light-1);
  cursor: pointer;
  font-family: 'Piazzolla', serif;
}

.list__vertical > .item--hover:hover {
  background-color: var(--color--blue);
  color: var(--color--white);
}

.list__vertical > .item--active {
  background-color: var(--color--blue);
  color: var(--color--white);
}

.list__vertical > .item:hover {
  background-color: var(--color--blue);
  color: var(--color--white);
}
