/* Two columns with header and footer */
.two_columns_with_header {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 160px 80px;
  grid-gap: 16px;
}

.two_columns_with_header > .item {
  background-color: #F8F9FA;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
}

.two_columns_with_header > .item1 {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}
.two_columns_with_header > .item2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.two_columns_with_header > .item3 {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}
.two_columns_with_header > .item4 {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

/* Three columns with header and footer */
.three_columns_with_header {
  display: grid;
  grid-template-columns: 200px 320px 200px;
  grid-template-rows: 80px 160px 80px;
  grid-gap: 16px;
}

.three_columns_with_header > .item {
  background-color: #F8F9FA;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
}

.three_columns_with_header > .item1 {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}
.three_columns_with_header > .item2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.three_columns_with_header > .item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.three_columns_with_header > .item4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.three_columns_with_header > .item5 {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

/* Three columns */
.three_columns {
  display: grid;
  grid-template-columns: 160px 392px 160px;
  grid-template-rows: 80px 160px;
  grid-gap: 16px;
}

.three_columns > .item {
  background-color: #F8F9FA;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
}

.three_columns > .item1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.three_columns > .item2 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.three_columns > .item3 {
  grid-column: 2 / 3;
  grid-row:  2 / -1;
}
.three_columns > .item4 {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}