@import './base/typography.css';
@import './base/global.css';

@import './utils/flex.css';
@import './utils/fontSize.css';
@import './utils/fontWeight.css';
@import './utils/margin.css';

@import './components/button.css';
@import './components/header.css';
@import './components/editor.css';
@import './components/quote.css';
@import './components/image.css';
@import './components/card.css';
@import './components/dropdown.css';
@import './components/input_radio.css';
@import './components/tab_group.css';
@import './components/banner.css';
@import './components/tab_group.css';
@import './components/tabs.css';
@import './components/list.css';
@import './components/input_checkbox.css';
@import './components/input_text.css';
@import './components/table.css';
@import './components/images_gallery.css';

@import './pages/typography.css';
@import './pages/elements.css';
@import './pages/blocks.css';
@import './pages/layout.css';
@import './pages/page1.css';